/* header {
    text-align: center;
}

main {
    height: 75vh;
    border: 1px solid black;
}

main > div {
    height: 100%;
}

div {
    font-size: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 100px;
}

footer > div {
    display: inline-block;  
    margin-right: 50px;
} 

.number {
    position: fixed;
    font-size: 100px;
    margin-right: 50px;
    line-height: .8;
}

.hr {
    border: 1px solid black;
    width: 100%;
    height: 0;
} */
 
body {
    position: absolute;
    height: 100vh;
    overflow: hidden;
} 

footer {
    margin-top: 100%;
    text-align: center;
}

.number-container {
    display: inline-block;  
    margin-right: 70px;
    margin-bottom: 90px;
} 

.number {
    position: absolute;
    font-size: 100px;
    margin-right: 50px;
    line-height: .8;
}