header {
    text-align: center;
}

main {
    height: 75vh;
    border: 1px solid black;
}

main > div {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 100px;
}

footer > div {
    display: inline-block;  
    margin-right: 50px;
}

.number {
    position: fixed;
    font-size: 100px;
    margin-right: 50px;
    line-height: .8;
}